.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.text-banner-title
{
  text-align: center;
  margin-top: 05px;
  /* margin-left: 450px; */
}
.text-banner
{
  background-color: rgb(240, 177, 154);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Carousel
{
  height:300px;
  margin: auto;
  display: contents;
}
.logo
{
  height: 100px;
  width: 100px;
}
.d-flex
{
  width: 300px;
}
.d-block
{
  height: 440px;
}
.search
{
  background: #f5f5f6;
}
.card-columns
{
  width: 500px;
  height: 500px;
}
.text-banner-title
{
margin: 25px;
  padding-top: 29px;
  /* width: 200px; */
  height: 80px;
}
.text-banner
{
  background-color: #aec7ce;
}
.footer
{
  margin-top: 50px;
  background-color: black;
  height: 100px;
}
.row.productList
{
  background-color: rgb(243, 203, 243);
}
.row.productList img
{
height: 120px;
}
.dropdown-toggle::after
{
  display: none;
}
.dropdown-menu
{
  height: 400px;
  width: 1000px;
  z-index: 9999;
}
.cartbtn
{
  flex: 1;
  width: 120px;
  height:40px;
  margin-left: 7px;
  background-color: yellowgreen;
  border: none;
}
.height300
{
  height: 300px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
